{% extends 'base.html.twig' %}

{% block title %}Voyageur Dashboard{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="container mt-5">
        <h1 class="mb-4">Bienvenue dans le tableau de bord Voyageur</h1>
        <p>Vous pouvez explorer les trajets disponibles, réserver ou noter vos voyages passés.</p>

        <div class="mt-4">
            <a href="#" class="btn btn-info">Rechercher un trajet</a>
            <a href="#" class="btn btn-outline-info">Mes réservations</a>
        </div>
    </div>
{% endblock %}
