<form method="post" action="{{ path('app_reservation_cov_delete', {'id': reservation_cov.id}) }}" style="display:inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation_cov.id) }}">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
