{% extends 'base.html.twig' %}

{% block title %}Covoitureur Dashboard{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="container mt-5">
        <h1 class="mb-4">Bienvenue dans le tableau de bord Covoitureur</h1>
        <p>Vous pouvez gérer vos trajets, vos réservations et consulter les avis des voyageurs.</p>

        <div class="mt-4">
            <a href="#" class="btn btn-primary">Voir mes trajets</a>
            <a href="#" class="btn btn-outline-secondary">Mes réservations</a>
        </div>
    </div>
{% endblock %}
